<article
	class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
	<div
		class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
	>
		<p>
			Me llamo Fernando Guerrero. Empecé en la programación desde los 15 años.
			Actualmente estoy <strong
				>estudiando Tecnologías de la Informacion Area Desarrollo de Software
				Multiplataforma</strong
			> en la Univesidad Teccnológica de Aguascalientes.
		</p>
		<p>Domino estas herramientas Web:</p>
		<div class="flex gap-x-6">
			<ul class="list-disc list-inside">
				<li class="text-sky-400">ReactJS</li>
				<li class="text-white/90">NextJS</li>
				<li class="text-orange-500">Astro</li>
				<li class="text-purple-500">Bootstrap</li>
				<li class="text-blue-400">TailwindCSS</li>
			</ul>
			<ul class="list-disc list-inside">
				<li class="text-green-500">NodeJS</li>
				<li class="text-yellow-500">ExpressJS</li>
				<li class="text-sky-400">SQL</li>
				<li class="text-blue-700">PostgreSQL</li>
				<li class="text-emerald-400">MongoDB</li>
			</ul>
		</div>
	</div>

	<img
		width="200"
		height="200"
		src="/Profile.jpeg"
		alt="Yo"
		class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
		style="object-position: 50% 50%"
	/>
</article>
